<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Phoneshop servlet api training</display-name>

    <context-param>
        <param-name>initDaoWithDemoData</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>com.es.phoneshop.web.listener.ProductDemoDataServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>productList</servlet-name>
        <servlet-class>com.es.phoneshop.web.servlet.ProductListPageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>productList</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cartPage</servlet-name>
        <servlet-class>com.es.phoneshop.web.servlet.CartPageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>productDetailsPage</servlet-name>
        <servlet-class>com.es.phoneshop.web.servlet.ProductDetailsPageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteCartItem</servlet-name>
        <servlet-class>com.es.phoneshop.web.servlet.CartItemDeleteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>miniCart</servlet-name>
        <servlet-class>com.es.phoneshop.web.servlet.MiniCartServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>com.es.phoneshop.web.servlet.CheckoutPageServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>orderOverview</servlet-name>
        <servlet-class>com.es.phoneshop.web.servlet.OrderOverviewPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>productDetailsPage</servlet-name>
        <url-pattern>/products/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cartPage</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteCartItem</servlet-name>
        <url-pattern>/cart/deleteCartItem/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>miniCart</servlet-name>
        <url-pattern>/cart/minicart</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>orderOverview</servlet-name>
        <url-pattern>/order/overview/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>com.es.phoneshop.exception.ProductNotFoundException</exception-type>
        <location>/WEB-INF/pages/errorPage.jsp</location>
    </error-page>

</web-app>
